* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 300;
}

.navbar {
    background-color: transparent !important;
}

.icon-box {
  background-color: #63abfd;
  color: #1f1f1f;
  text-align: center;
  border-radius: 60%;
  margin-bottom: 20px;
}

.btn-primary {
    background-color: #63abfd;
}

footer {
  background-color: #63abfd;
  width: auto;
  height: 90px;
}

a {
    color: #fff;
    text-decoration: none;
}
