* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* #carouselExample {
    margin-top: -20px;
} */

/* .navbar {
    background-color: transparent !important;
} */